.soundContainer {
    display: flex;
}

.soundContainer:first{
    margin-bottom: 20px;

}

/* for mobile */
@media only screen and (max-width: 600px) {
    .soundContainer {
        flex-wrap: wrap;
    }

}